
:root {
  --name-text-color: #212121;
  --main-text-color: #757575;
  --bg-color-head-foot: #2F303A;
  --main-text-color-master:#000000;
  --special-text-color: #2196F3;
  --main-bg-color: #FFFFFF;
  --text-foot-color: #FFFFFF 60%;
  --border-color: #EEEEEE;
  --bg-color-team: #F5F4FA;
  --border-color-header: #ececec;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em; /* расстояние между буквами*/
  color: var(--name-text-color);
}
/*  bg-header */
.header {
  max-width: 1600px;
  height: 80px;
  border-bottom: 1px solid var(--border-color-header);
  background-color: var(--main-bg-color);
}
/* убраны подчёркивания и метки */
.list {
  list-style: none;
  text-decoration: none;
}

a.current {
  color: var(--special-text-color);
  text-decoration: none;
}
/* logo style */
.logo,
.logo-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none; 
  font-weight: 700 ;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color-master);
}
/* оформления части логотипа WEB */
.logo-span {
  color: var(--special-text-color);
}

.logo-footer {
  color: #FFFFFF;
}

.nav-list {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--name-text-color);
}

.contact {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
/* color: var(--main-text-color); */
}

.contact-link {
  text-decoration: none;
  color: var(--main-text-color);
}

.section-up {
background-color: var(--bg-color-head-foot);
max-width: 1600px;
height: 600px;
margin: 0;
}

/* Стиль заголовка н1 */
.h1-style {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin: auto;
width: 696px;
padding-top: 200px;
}

.button-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--special-text-color);
  color: #FFFFFF;
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
}

.button-index:hover,
.button-index:focus {
  color: var(--main-bg-color);
  cursor: pointer;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--special-text-color); /*изменение цвета кнопни*/
  color: var(--main-bg-color); /*изменение цвета надписи*/
  cursor: pointer;
}

/* Стиль заголовка н2 */
.h2-style {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
}

/* Стиль заготовка н3 */
.h3-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-text-color);
}

/* стиль текста */
.p-style-up {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Наша комада */
.section-team {
  color: var(--bg-color-team);
}

/* style card */
.line-team {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
}

/* стиль имени */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--name-text-color)
}

/* Стиль для подписи нашей команды */
.p-style-team {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;  
  color: var(--main-text-color);
}

/* Цвет футера */
.footer-text-color {
  color: var(--main-bg-color);
  background-color: var(--bg-color-head-foot);
  max-width: 1600px;
  height: 252px;
}

/* .address-footer {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: inherit;
} */

.list-footer {
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--text-foot-color);
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

/* обесцвечивание и скрытия подч]ркивания для ссылки */
.link {
  text-decoration: none; /* убирает подчеркивание с ссылки */
  color: inherit; /*обесцвечивает ссылку*/
}

/* Отцентровать */
.center {
  text-align: center;
}

  .line :hover,
  .line :focus {
    color: var(--special-text-color);
  } 

/* Стиль для cтилизации заголовка фото в портфолио */
.portfolio-h3-style {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--name-text-color);
}
/* Стиль для cтилизации описания фото в портфолио */
.portfolio-p-style {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Класс скрывающий элементы */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}